Proyecto FInal NODES/flows.json
[
    {
        "id": "0a06edfc7e76486a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93f53f23b7679471",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "(Node-RED) Proyecto Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6018f79e2119027f",
        "type": "ui_tab",
        "name": "LABORATORIO",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "34a3dce66c6bd9a4",
        "type": "ui_group",
        "name": "FILTRO 01",
        "tab": "6018f79e2119027f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d694dbf1226e5a3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.209",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bcf45072f4229c3a",
        "type": "ui_button",
        "z": "0a06edfc7e76486a",
        "name": "ENCENDER",
        "group": "34a3dce66c6bd9a4",
        "order": 0,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "ENCENDER",
        "tooltip": "Click para encender el filtro",
        "color": "white",
        "bgcolor": "gray",
        "className": "",
        "icon": "flash_on",
        "payload": "on",
        "payloadType": "str",
        "topic": "LABORATORIO/FILTRO1/FUENTE_CC",
        "topicType": "msg",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "9476dd119b9298b2"
            ]
        ]
    },
    {
        "id": "9df48714f9e3c223",
        "type": "ui_button",
        "z": "0a06edfc7e76486a",
        "name": "APAGAR",
        "group": "34a3dce66c6bd9a4",
        "order": 0,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "APAGAR",
        "tooltip": "Click para apagar el filtro",
        "color": "white",
        "bgcolor": "gray",
        "className": "",
        "icon": "flash_off",
        "payload": "off",
        "payloadType": "str",
        "topic": "LABORATORIO/FILTRO1/FUENTE_CC",
        "topicType": "msg",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "9476dd119b9298b2"
            ]
        ]
    },
    {
        "id": "9476dd119b9298b2",
        "type": "mqtt out",
        "z": "0a06edfc7e76486a",
        "name": "",
        "topic": "LABORATORIO/FILTRO1/FUENTE_CC",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d694dbf1226e5a3",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5cf6d4a3fecf9a1",
        "type": "mqtt in",
        "z": "0a06edfc7e76486a",
        "name": "",
        "topic": "LABORATORIO/FILTRO1/FUENTE_CC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d694dbf1226e5a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "94061b19958efcee"
            ]
        ]
    },
    {
        "id": "94061b19958efcee",
        "type": "ui_led",
        "z": "0a06edfc7e76486a",
        "order": 2,
        "group": "34a3dce66c6bd9a4",
        "width": "2",
        "height": "2",
        "label": "ENERGIA",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            },
            {
                "color": "#780000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "ENERGIA",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "8769642b2a3891f4",
        "type": "mqtt in",
        "z": "0a06edfc7e76486a",
        "name": "",
        "topic": "LABORATORIO/FILTRO1/FUENTE_CA",
        "qos": "2",
        "datatype": "utf8",
        "broker": "7d694dbf1226e5a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "d88eff0a1bb3eb62",
                "181ec4ea11997e4d"
            ]
        ]
    },
    {
        "id": "d88eff0a1bb3eb62",
        "type": "ui_led",
        "z": "0a06edfc7e76486a",
        "order": 2,
        "group": "34a3dce66c6bd9a4",
        "width": "6",
        "height": "2",
        "label": "LIMPIEZA",
        "labelPlacement": "right",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "on",
                "valueType": "str"
            },
            {
                "color": "#780000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LIMPIEZA",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "181ec4ea11997e4d",
        "type": "debug",
        "z": "0a06edfc7e76486a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "253d9efae8fc6428",
        "type": "ui_numeric",
        "z": "0a06edfc7e76486a",
        "name": "TIEMPO DE LIMPIEZA [S]",
        "label": "TIEMPO DE LIMPIEZA [S]",
        "tooltip": "Seleccione el tiempo en segundos que desee que se lleve a cabo la limpieza",
        "group": "34a3dce66c6bd9a4",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": false,
        "topic": "LABORATORIO/FILTRO1/LIMPIEZA",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "5",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "b5cea749e2e0bcc1",
                "181ec4ea11997e4d"
            ]
        ]
    },
    {
        "id": "b5cea749e2e0bcc1",
        "type": "mqtt out",
        "z": "0a06edfc7e76486a",
        "name": "",
        "topic": "LABORATORIO/FILTRO1/LIMPIEZA",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d694dbf1226e5a3",
        "x": 790,
        "y": 520,
        "wires": []
    }
]